* {
    font-family:"Roboto Mono"
}
.container {
    width: 1340px;
    margin:0 auto;
}
.main-header {
    z-index: 2;
    width:1340px;
    position: fixed;
    top: 0;
    height: 50px;
     background: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.logo-image-div {
    width: 50%;
    float: left;
}
.logo-image {
    display: inline-block;
    width: 50px;
    height: 50px;
}
.navigation__items {
    text-align: right;
    width: 50%;
    padding: 0;
    display: inline-block;
    

}
.navigation__item {
    display: inline-block;
    margin-right: 15px;
    transition: all 2s;
    
}
.navigation__item:hover {
    color: #0c1621;
    transform: translateY(-2px);
}

.navigation__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: all 2s;
}
.navigation__item a:hover {
    color: blue;
}


.clearfix {
    clear: both;
}
/* About me section */
.about-me-slogans {
    width: 50%;
    float: left;
    
}
.about-me {
    width: 50%;
    float: left;
    position: relative;
    text-transform: uppercase;
}
.about-me-section {
    margin-top:12rem;
}
.about-me-slogans div {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    color: white;
    background-color: black;
    border:10px solid #3f9cfb;
    border-radius: 5px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 2s;
    animation-name: itemone;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-direction:alternate-reverse;

   
}
.span1 {
    border:1px solid black;
    filter: blur(10);
    
}
.about-me-slogans div:hover {
    background-color: blue;
    color: white;
    border:10px solid powderblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    animation-play-state: paused;
     
    
}
.headingtwo ,.paragraph {
    text-transform:uppercase;
    letter-spacing: 1px;
}
@keyframes itemone {
    0% {
        transform: translateY(100px);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transfrom:translateY(10px);
    }
}

.circle-div {
    top: -50px;
    left: -50px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    animation-name: itemtwo;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes itemtwo {
    0% {
       top: -50px;
       left: -50px;
    }
    25% {
        left: -50px;
        top: 200px;
        border-radius: 0;
    }
    50% {
       left: 450px;
       top: 200px;
       background-color: powderblue;
    }
    75% {
        top: -50px;
        left: 450px;
        transform: scale(0.9);
        background-color:black;
    }
    100% {
        top: -50px;
        left: -50px;
    }
}
.heading-one {
    margin-bottom: 0.7rem;
}
.about-p {
    color: rgb(121, 121, 121);
    letter-spacing: 2px;
}
.junior-p {
    margin-top: 2px;
}
.telegram {
    font-size:1.8rem;
    color: blue;
}
.about-me a {
    transition: all 2s;
    border-radius: 50%;
}
.about-me a:hover {
    background-color: purple;
    transform: translateY(-10px);
}
.about-me a i {
    transition: all 2s;
}
.about-me a:hover i {
    color: white;
}
/* /About me section */

/* Education section */
.education-section {
    width: 100%;
    margin-top: 20rem;
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.education-p {
    margin-bottom: 3rem;
}
.education-first ,.education-second{
    width: 40%;
    float: left;
    border: #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.education-first {
    margin-right: 5%;
    margin-left: 5%;
}
.education-second {
    margin-left: 5%;
    margin-right: 5%;
}
.education-first img,.education-second img  {
    width:100%;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.education-first p ,.education-second p {
    padding-left: 1.5rem;
}

@keyframes animation1 {
    from {
        transform:translateX(-100px);
        opacity: 0.3;
    }
    50% {
        transform:translateX(-50px);
        opacity: 0.5;
    }
    75% {
        transform:translateX(-25px);
    }
    to {
        transform:translateX(100);
        opacity:1;
        position: static;
    }
}
.education-first:hover, .education-second:hover {
    animation-name: hoverfirst;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    z-index: -1;
    /* animation-play-state: running; */
}
@keyframes hoverfirst {
    from{
        transform:rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* /Education section */

/* Jobs section */
.jobs-section {
    margin-top: 10rem;
}
.jobs-p {
    text-transform: uppercase;
    color: rgb(121, 121, 121);
    letter-spacing: 2px;
}
.effect1 {
    display: inline-block;
    width: 40px;
    border: 2px solid yellow;
    filter: blur(2px);
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
}
.effect2 {
    display: inline-block;
    width: 40px;
    border: 2px solid blue;
    filter: blur(2px);
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
}
.effect3 {
    display: inline-block;
    width: 40px;
    border: 2px solid black;
    filter: blur(2px);
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
}
.jobs-c {
    display: inline-block;
    width: 40px;
    margin-bottom: 2px;
    border: 2px solid blue;
    filter: blur(3px);
}
.jobs-info ,.jobs-images{
    width: 50%;
    float: left;
    
}
.jobs-info {
    padding-top: 15rem;
}
.jobs-info p {
    text-transform: uppercase;
}
.jobs-images {
    border-radius: 10px;
    background-color:#ccc;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.8);
    transition: all 1s;
     animation-name: jobs;
     animation-duration: 2s;
     animation-delay: 3s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: 5;
     animation-fill-mode: both;
     transform: scale(0.5);
   

}
.jobs-images img{
    height: 15rem;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.jobs-images:hover {
    background-color: goldenrod;
    
}

@keyframes jobs {
  from {
    transform: perspective(300px)
               rotate3d(1, 0, 0, 80deg)
               scale3d(0.3, 0.3, 0.3);
  }

  50% {
    transform: perspective(300px)
               rotate3d(1, 0, 0, 40deg)
               scale3d(0.6, 0.6, 0.6);
  }

  to {
    transform: perspective(300px)
               rotate3d(0, 0, 0, 0deg)
               scale3d(0.5, 0.5, 0.5);
  }
}


/* /Jobs section */

/* Skills section */
.skills-section {
    width: 100%;
    margin-top: 100px;
    height: 80vh;
    background-color: black;
    color: white;
   
}
.skills-section ul li {
    font-size:1rem;
}
.skills-section div {
    display: inline-block;
    width: 32%;
     vertical-align: top;
     padding-right: 10%;
     box-sizing: border-box;
     padding-left: 10%;
     margin-top: 2rem;
    
}
.skills {
    margin-top: 50px;
    padding-top: 3rem;
    display: block;
    text-align: center;
}
/* /Skills section */

/* Footer section */
.footer-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.footer-logo {
    text-align: center;
}
.footer-navigations {
    text-align: center;
}
.footer__item {
    display: inline-block;
    margin-right: 3rem;
}
.footer__item a {
    text-decoration: none;
    text-transform: uppercase;
}
.footer-image {
    width: 100px;
    height: 100px;
}
.footer__item a {
    color: rgb(25, 13, 13);
    transition: all 0.5s;
}
.footer__item a:hover {
    color: #ccc;
}
.contact-app {
    margin-top: 3.5rem;
    text-align: center;
}

.fa-telegram ,.fa-facebook {
    color: blue;
} 
.fa-twitter {
    color: black;
}
.fa-instagram {
    color: rgb(231, 73, 0);
}
.contact-app a {
    border-radius: 50%;
    border:1px solid #494848;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: all 2s;
} 
.contact-app a:hover {
    background-color: purple;
    transform: translateY(-10px);
}
.contact-app a i {
    transition: all 2s;
}
.contact-app a:hover i{
    color: white;
    
}

/* /Footer section */
/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */
/* Responsive by 767px */
@media only screen and (max-width:900px) {
    .container {
    width: 100%;
    margin:0 auto;
}
/* About me section */

.about-me-slogans {
    margin-top: 3rem;
    width: 100%;
    float: none;
    margin-bottom: 0;
}
.about-me {
    width: 100%;
    float: none;
    box-sizing: border-box;
    padding-left: 4rem;
    margin:0 auto;
}
.paragraph {
    font-size: 0.7rem;
}
@keyframes itemone {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transfrom:translateY(0);
    }
}

.circle-div {
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes itemtwo {
    from {
       top: -25px;
       left: 5px;
       background-color: powderblue;
    }
    to {
        left: 5px;
        top: 220px;
        border-radius: 0;
        background-color: yellow;
    }
    /* 50% {
       left: 350px;
       top: 220px;
       background-color: powderblue;
    }
    75% {
        top: -25px;
        left: 350px;
        transform: scale(0.9);
        background-color:black;
    }
    100% {
        top: -25px;
        left: 5px;
    } */
}

/* /About me section */

/* Education section */
.education-section {
    margin-top: 3rem;
}
.education-first ,.education-second{
    width: 90%;
    float: none;
}
.education-second {
    margin-top: 5.2rem;
}
/* /Education section */

/* Jobs section */
.jobs-section {
    width: 100%;
}
.jobs-info,.jobs-images {
    display: block;
    width: 100%;
}
.jobs-info {
    padding-top: 0;
}
/* /Jobs section */

/* Skills section */
.skills-section {
    margin-top: 0;
    height: 35vh;
    width: 100%;
}
.skills-section div {
    width: 30%;
    padding-right: 3%;
    /* text-align: left; */
    padding-left: 3%;
}

/* /Skills section */

/* Footer section */
.footer-logo {
    text-align: center;
}
.footer-navigations {
    text-align: center;
}
.footer__item {
    margin-top:1rem;
}
/* /Footer section */

}
/* /Responsive by 767px */

/* fonts  */

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-BoldItalic.eot');
    src: url('./fonts/RobotoMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-MediumItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-MediumItalic.woff') format('woff'),
        url('./fonts/RobotoMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-BoldItalic.eot');
    src: url('./fonts/RobotoMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-BoldItalic.woff') format('woff'),
        url('./fonts/RobotoMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Light.eot');
    src: url('./fonts/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-Light.woff2') format('woff2'),
        url('./fonts/RobotoMono-Light.woff') format('woff'),
        url('./fonts/RobotoMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-ExtraLightItalic.eot');
    src: url('./fonts/RobotoMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-ExtraLightItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-ExtraLightItalic.woff') format('woff'),
        url('./fonts/RobotoMono-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-ExtraLight.eot');
    src: url('./fonts/RobotoMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-ExtraLight.woff2') format('woff2'),
        url('./fonts/RobotoMono-ExtraLight.woff') format('woff'),
        url('./fonts/RobotoMono-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-SemiBold.eot');
    src: url('./fonts/RobotoMono-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-SemiBold.woff2') format('woff2'),
        url('./fonts/RobotoMono-SemiBold.woff') format('woff'),
        url('./fonts/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Medium.eot');
    src: url('./fonts/RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-Medium.woff2') format('woff2'),
        url('./fonts/RobotoMono-Medium.woff') format('woff'),
        url('./fonts/RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Italic.eot');
    src: url('./fonts/RobotoMono-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-Italic.woff2') format('woff2'),
        url('./fonts/RobotoMono-Italic.woff') format('woff'),
        url('./fonts/RobotoMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Bold.eot');
    src: url('./fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('./fonts/RobotoMono-Bold.woff') format('woff'),
        url('./fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-LightItalic.eot');
    src: url('./fonts/RobotoMono-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-LightItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-LightItalic.woff') format('woff'),
        url('./fonts/RobotoMono-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Regular.eot');
    src: url('./fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('./fonts/RobotoMono-Regular.woff') format('woff'),
        url('./fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-SemiBoldItalic.eot');
    src: url('./fonts/RobotoMono-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-SemiBoldItalic.woff') format('woff'),
        url('./fonts/RobotoMono-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-ThinItalic.eot');
    src: url('./fonts/RobotoMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-ThinItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-ThinItalic.woff') format('woff'),
        url('./fonts/RobotoMono-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Thin.eot');
    src: url('./fonts/RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoMono-Thin.woff2') format('woff2'),
        url('./fonts/RobotoMono-Thin.woff') format('woff'),
        url('./fonts/RobotoMono-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
/* /fonts */
